<div class="med-main-container">
  <h3 class="review-title">Coupons en cours</h3>
      <div class="card-product1">
        <%= image_tag "cafe.jpg" %>
        <div class="card-product-infos">
          <h2>mackwolves@hotmail.com</h2>
          <p>Expire dans <strong>1 jour</strong></p>
        </div>
        <div class="envoyercoupon">
          <%= link_to "Envoyer un mail", '', class: "connected-btn2", remote:true %>
          <%= link_to "Email envoyé !", '', class: "connected-btn3 hidden", remote:true %>
        </div>
      </div>

      <div class="card-product1">
        <%= image_tag "cafe.jpg" %>
        <div class="card-product-infos">
          <h2>benito@myspace.com</h2>
          <p>Expire dans <strong>1 jour</strong></p>
        </div>
        <div class="envoyercoupon">
          <%= link_to "Envoyer un mail", '', class: "connected-btn2", remote:true %>
          <%= link_to "Email envoyé !", '', class: "connected-btn3 hidden", remote:true %>
        </div>
      </div>

      <div class="card-product1">
        <%= image_tag "choco.jpg" %>
        <div class="card-product-infos">
          <h2>axelephant@gmail.com</h2>
          <p>Expire dans <strong>3 jours</strong></p>
        </div>
        <div class="envoyercoupon">
          <%= link_to "Envoyer un mail", '', class: "connected-btn2", remote:true %>
          <%= link_to "Email envoyé !", '', class: "connected-btn3 hidden", remote:true %>
        </div>
      </div>

      <h3 class="review-title">Coupons expirés</h3>
      <div class="card-product2">
        <%= image_tag "choco.jpg" %>
        <div class="card-product-infos">
          <h2>julienlemo@hotmail.com</h2>
          <p>Expiré il y a <strong>5 jours</strong></p>
        </div>
        <div class="envoyercoupon">
          <%= link_to "Envoyer un mail", '', class: "connected-btn2", remote:true %>
          <%= link_to "Email envoyé !", '', class: "connected-btn3 hidden", remote:true %>
        </div>
      </div>

      <div class="card-product2">
        <%= image_tag "choco.jpg" %>
        <div class="card-product-infos">
          <h2>marinlotau@outlook.com</h2>
          <p>Expiré il y a <strong>6 jours</strong></p>
        </div>
        <div class="envoyercoupon">
          <%= link_to "Envoyer un mail", '', class: "connected-btn2", remote:true %>
          <%= link_to "Email envoyé !", '', class: "connected-btn3 hidden", remote:true %>
        </div>
      </div>
</div>
