<div class="med-main-container">
  <div class="review-title">Coupons proches de l'expiration</div>
      <div class="card-product1">
        <%= image_tag "cafe.jpeg" %>
          <div class="card-product-infos">
            <h2>mackwolves@hotmail.com</h2>
            <p>Expire dans <strong>1 jours</strong></p>
          </div>
          <div class="envoyercoupon">
            <%= link_to "Envoyer un mail", coupons_path, class: "connected-btn2" %>
          </div>
      </div>

      <div class="card-product1">
        <%= image_tag "cafe.jpeg" %>
          <div class="card-product-infos">
            <h2>benotaries@outlook.com</h2>
            <p>Expire dans <strong>1 jours</strong></p>
          </div>
          <div class="envoyercoupon">
            <%= link_to "Envoyer un mail", coupons_path, class: "connected-btn2" %>
          </div>
      </div>

      <div class="card-product1">
        <%= image_tag "choco.jpg" %>
          <div class="card-product-infos">
            <h2>axelephant@outlook.com</h2>
            <p>Expire dans <strong>3 jours</strong></p>
          </div>
          <div class="envoyercoupon">
            <%= link_to "Envoyer un mail", coupons_path, class: "connected-btn2" %>
          </div>
      </div>

      <div class="review-title">Coupons expirés récemment</div>
      <div class="card-product2">
        <%= image_tag "choco.jpg" %>
          <div class="card-product-infos">
            <h2>julienlemo@hotmail.com</h2>
            <p>Expiré il y a <strong>3 jours</strong></p>
          </div>
          <div class="envoyercoupon">
            <%= link_to "Envoyer un mail", coupons_path, class: "connected-btn2" %>
          </div>
      </div>

      <div class="card-product2">
        <%= image_tag "choco.jpg" %>
          <div class="card-product-infos">
            <h2>marinlotau@outlook.com</h2>
            <p>Expiré il y a <strong>2 jours</strong></p>
          </div>
          <div class="envoyercoupon">
            <%= link_to "Envoyer un mail", coupons_path, class: "connected-btn2" %>
          </div>
      </div>


</div>
