<div class="main-container">

  <h1>Mes coupons</h1>

  <% @coupons.each do |coupon| %>
      <%= coupon.restaurant.name %>
      <%= coupon.details %>
      <%= coupon.is_valid? %>
  <% end %>

<!--   <div class="charts">
  <canvas id="myRate" width="50" height="50"></canvas>
  </div>> -->
  <div class="charts">
    <% @reviews = Review.all.group("DATE_TRUNC('month', created_at)").average(:rating) %>
     <% @data = {
        labels: ['Janvier', 'Fevrier', 'Mars', 'Avril', 'Mai', 'Juin','Juillet','Aout','Septembre','Octobre','Novembre','Decembre'],
        datasets: [{
            label: 'note moyenne',
            data: [@reviews.values[7], @reviews.values[6], @reviews.values[4], @reviews.values[3], @reviews.values[2], @reviews.values[5], @reviews.values[10], @reviews.values[8], @reviews.values[11], @reviews.values[1], @reviews.values[0], @reviews.values[9]],
            backgroundColor: 'rgba(143, 214, 148, 0.4)',
            borderColor:'rgba(143, 214, 148, 0.4)',
            fill: false,
            borderWidth: 4
        }]
    } %>

<% @options = {
    responsive: true,
    maintainAspectRatio: false,
        scales: {
          yAxes: [{
              ticks: {
                beginAtZero: true
              }
          }]
        }
  } %>
<%= line_chart @data, @options %>
  </div>

    <div class="charts">
    <% @number = Review.all.group("DATE_TRUNC('month', created_at)").count %>
     <% @data = {
        labels: ['Janvier', 'Fevrier', 'Mars', 'Avril', 'Mai', 'Juin','Juillet','Aout','Septembre','Octobre','Novembre','Decembre'],
        datasets: [{
            label: '# de reviews recues',
            data: [@number.values[7], @number.values[6], @number.values[4], @number.values[3], @number.values[2], @number.values[5], @number.values[10], @number.values[8], @number.values[11], @number.values[1], @number.values[0], @number.values[9]],
            backgroundColor: ['rgba(255, 237, 33, 0.4)','rgba(237, 147, 20, 0.4)', 'rgba(227, 69, 27, 0.4)','rgba(227, 73, 79, 0.4)',
              'rgba(227, 79, 122, 0.4)','rgba(150, 60, 126, 0.4)','rgba(24, 43, 131,0.4)','rgba(36, 106, 179, 0.4)','rgba(70, 159, 224, 0.4)',
              'rgba(80, 152, 144, 0.4)','rgba(82, 146, 54, 0.4)','rgba(150, 191, 23, 0.4)'],
            borderColor:'rgba(143, 214, 148, 0.4)',
            borderWidth: 1
        }]
    } %>

<% @options = {
    responsive: true,
    maintainAspectRatio: false,
        scales: {
          yAxes: [{
              ticks: {
                beginAtZero: true
              }
          }]
        }
  } %>
<%= bar_chart @data, @options %>
  </div>

</div>
