<div class="main-container">

  <h1>Mes coupons</h1>

  <% @coupons.each do |coupon| %>
      <%= coupon.restaurant.name %>
      <%= coupon.details %>
      <%= coupon.is_valid? %>
  <% end %>

<% sorted_group_reviews = Review.all.group("DATE_TRUNC('month', created_at)") %>

<!--   <div class="charts">
  <canvas id="myRate" width="50" height="50"></canvas>
  </div>> -->
  <div class="charts">
    <% @reviews = sorted_group_reviews.average(:rating).sort %>
     <% @data = {
        labels: ['Janvier', 'Fevrier', 'Mars', 'Avril', 'Mai', 'Juin','Juillet','Aout','Septembre','Octobre','Novembre','Decembre'],
        datasets: [{
            label: 'note moyenne',
            # @reviews est une array, la ligne ci dessous recupere la note moyenne (index[1]) contenue pour chaque mois[0..11]
            data: [@reviews[0][1], @reviews[1][1], @reviews[2][1], @reviews[3][1], @reviews[4][1], @reviews[5][1], @reviews[6][1], @reviews[7][1], @reviews[8][1], @reviews[9][1], @reviews[10][1], @reviews[11][1]],
            backgroundColor: 'rgba(143, 214, 148, 0.4)',
            borderColor:'rgba(143, 214, 148, 0.4)',
            fill: false,
            borderWidth: 4
        }]
    } %>
<% @options = {
    responsive: true,
    maintainAspectRatio: false,
        scales: {
          yAxes: [{
              ticks: {
                beginAtZero: true
              }
          }]
        }
  } %>
<%= line_chart @data, @options %>
  </div>

    <div class="charts">
    <% @number = sorted_group_reviews.count.sort %>
     <% @data = {
        labels: ['Janvier', 'Fevrier', 'Mars', 'Avril', 'Mai', 'Juin','Juillet','Aout','Septembre','Octobre','Novembre','Decembre'],
        datasets: [{
            label: '# de reviews recues',
            data: [@number[0][1], @number[1][1], @number[2][1], @number[3][1], @number[4][1], @number[5][1], @number[6][1], @number[7][1], @number[8][1], @number[9][1], @number[10][1], @number[11][1]],
            backgroundColor: ['rgba(255, 237, 33, 0.4)','rgba(237, 147, 20, 0.4)'],
            borderColor:'rgba(255, 237, 33, 0.4)',
            borderWidth: 1
        }]
    } %>

<% @options = {
    responsive: true,
    maintainAspectRatio: false,
        scales: {
          yAxes: [{
              ticks: {
                beginAtZero: true
              }
          }]
        }
  } %>
<%= bar_chart @data, @options %>
  </div>

</div>
