<div class="search-bar-div" style="margin: 0 auto">
   <%= form_tag restaurants_path, class: "", method: :get do |f| %>
       <div class="search-bar">
           <%= text_field_tag :name,
           params[:name],
           class: error ? "search-bar-city invalid-search-bar": "search-bar-city",
           placeholder: "Entrez un restaurant"
           %>
           <p class="invalid-search-message"><%= error %></p>
       </div>
       <div class="search-bar">
           <%= text_field_tag :category,
           params[:category],
           class: error ? "search-bar-city invalid-search-bar": "search-bar-city",
           placeholder: "Entrez une catégorie"
           %>
           <p class="invalid-search-message"><%= error %></p>
       </div>
       <%= button_tag(type: "submit", class: "search-bar-button") do %>
           <p>Search</p>
       <% end %>
   <% end %>
</div>