<<<<<<< HEAD
<div class="review">
  <div class="reviewtitle"><h2>Réponses au sondage</h2></div>
    <div class="form-review">
<<<<<<< HEAD
      <% QuestionPool.where(restaurant: @restaurant).last.questions.each do |question| %>
      <div class="questionboxes"><%= question.name %></div>
=======
      <% QuestionPool.where(user: current_user).last.questions.each do |question| %>
      <div class="questionboxes"><h2><%= question.name %></h2></div>
>>>>>>> 9a21332... t
        <% question.answers.each do |answer| %>
        -<%= answer.content %>
        <br>
=======
<% textanswer = QuestionPool.where(user: current_user).last.questions.where(cat: '0') %>
<% ratinganswer = QuestionPool.where(user: current_user).last.questions.where(cat: '1') %>
<div class="main-container">

  <div class="reviewtitle1">
  <h2>Réponses au sondage</h2>
  </div>

      <!-- Question with Text -->
      <% textanswer.each do |question| %>
<<<<<<< HEAD
        <div class="questionboxes1"><h2><%= question.name %></h2></div>
          <% question.answers.each do |answer| %>
          -<%= answer.content %> <br> <br>
>>>>>>> dbaf042... t
        <% end %>
=======

        <div class="form-review1">
          <div class='review-title4'><%= question.name %></div>
          <i class="fas fa-plus-circle fa-2x chart-text"></i>
          <div class="hidden">
            <% question.answers.each do |answer| %>
              <div class="answer">
                <%= answer.content %>
              </div>
            <% end %>
            <i class="fas fa-minus-circle fa-2x chart-text"></i>
          </div>
        </div>
>>>>>>> c947834... reponses au questionnaire
      <% end %>

      <!-- Question with Rating -->
      <% ratinganswer.each do |question| %>
        <div class="form-review1">
          <div class='review-title4'><%= question.name %></div>
          <i class="fas fa-plus-circle fa-2x chart-rating"></i>
          <% @answerss = question.answers %>
            <div class="hidden">
              <div class="charts1">
                <% @answer1 = @answerss.where(content: '1').length %>
                <% @answer2 = @answerss.where(content: '2').length %>
                <% @answer3 = @answerss.where(content: '3').length %>
                <% @answer4 = @answerss.where(content: '4').length %>
                <% @answer5 = @answerss.where(content: '5').length %>
                 <% @data = {
                    labels: ['1', '2', '3', '4', '5'],
                    datasets: [{
                        label: 'note moyenne',
                        # @reviews est une array, la ligne ci dessous recupere la note moyenne (index[1]) contenue pour chaque mois[0..11]
                        data: [@answer1, @answer2, @answer3, @answer4, @answer5],
                        backgroundColor: ['rgba(143, 214, 148, 0.4)','rgba(255, 255, 148, 0.4)', 'rgba(0, 0, 120, 0.4)', 'rgba(50, 25, 255, 0.4)', 'rgba(50, 255, 255, 0.4)'],
                        borderColor:['rgba(143, 214, 148, 0.4)','rgba(255, 255, 148, 0.4)', 'rgba(0, 0, 120, 0.4)', 'rgba(50, 25, 255, 0.4)', 'rgba(50, 255, 255, 0.4)'],
                        fill: false,
                        borderWidth: 1
                        }]
                    } %>
                <% @options = {
                    responsive: true,
                    maintainAspectRatio: false,
                        # scales: {
                        #   yAxes: [{
                        #       ticks: {
                        #         beginAtZero: true
                        #       }
                        #   }]
                        # }
                  } %>
                <%= pie_chart @data, @options %>
              </div>
              <i class="fas fa-minus-circle fa-2x chart-rating"></i>
            </div>
          </div>
      <% end %>
</div>
