<div class="main-container">
<div class="review">

<<<<<<< HEAD
  <% QuestionPool.where(restaurant_id: params[:restaurant_id]).last.questions.each do |question| %>
=======
  <% if QuestionPool.where(user: current_user).empty? %>
    <h1>Créez votre Questionnaire</h1>
    <br>
  <% else %>
    <% QuestionPool.where(user: current_user).last.questions.each do |question| %>
>>>>>>> ef26b0c... modif faite avec john
  <p class="questions">
    <% @question = question %>
    <%= question.name %>
    <% if question.cat == '0' %>
    (text)
    <% else %>
    (rating)
    <% end %>


  <%= link_to 'DELETE', manager_restaurant_question_pool_path(@restaurant, question),
        method: :delete,
        class: "deleteajax", remote:true %>
  </p>
  <% end %>

  <div class="reviewtitle"><h2>Créer votre Questionnaire</h2></div>

  <%= simple_form_for [:manager, @restaurant, @question_pool], html: { class: "form-review"} do |f| %>
      <div class="inputboxes">
<<<<<<< HEAD
        <%= f.input :restaurant_id, as: :hidden %>

=======
        <p>Type de réponse souhaité:</p>
>>>>>>> d9d881c... modif page création questionnaire
        <%= f.simple_fields_for :questions do |q_form| %>
        <%= q_form.input :cat, label: 'Texte', :input_html => { class: "inputtype" }, as: :boolean %>
        <%= q_form.input :cat, label: 'Note', :input_html => { class: "inputtype" }, as: :boolean %>
        <%= q_form.input :name, label:'Question:', :input_html => { class: "inputtype" } %>
        <% end %>

        <h2><%= link_to "+ ajoutez une question", '',class: "newq" , remote: true %></h2>
      </div>
      <div class="publier-div">
        <%= f.submit "Publier", class: "publier-questionnaire", remote: true %>
      </div>
  <% end %>
</div>
</div>
