<div class="review">

  <% if QuestionPool.where(user: current_user).empty? %>
    <h2>There are currently no questions</h2>
  <% else %>
    <% QuestionPool.where(user: current_user).last.questions.each do |question| %>
  <p class="questions">
    <% @question = question %>
    <%= question.name %>
    <% if question.cat == '0' %>
    (text)
    <% else %>
    (rating)
    <% end %>


  <%= link_to '', manager_question_pool_path(question),
        method: :delete,
        class: "deleteajax far fa-trash-alt", remote:true %>
  </p>
  <% end %>
  <% end %>

  <div class="reviewtitle"><h2>Créer des questions</h2></div>

  <%= simple_form_for [:manager, @question_pool], html: { class: "form-review"} do |f| %>
      <div class="inputboxes">
        <%= f.simple_fields_for :questions do |q_form| %>
        <%= q_form.input :cat, label: 'Text', :input_html => { class: "inputtype" }, as: :boolean %>
        <%= q_form.input :cat, label: 'Rating', :input_html => { class: "inputtype" }, as: :boolean %>
        <%= q_form.input :name, label: 'Question', :input_html => { class: "inputtype" } %>
        <% end %>

        <h2><%= link_to "+", '',class: "newq" , remote: true %></h2>
      </div>
        <%= f.submit "Publier", class: "btn btn-ghost", remote: true %>
  <% end %>
</div>
