<div class="main-container">
<div class="review">
  <div class="mon-questionnaire">
    <h1 id="titre-crer-formulaire">Ajoutez vos questions</h1>
  <%= simple_form_for [:manager, @question_pool], html: { class: "form-review"} do |f| %>
      <div class="input-boxes" style="margin-top: 40px;">
  <% if QuestionPool.where(user: current_user).first.nil? %>
        <div class="questionnaire-nom">
          <%= f.input :nameq, label:'Nom du Questionnaire:', :input_html => { class: "input-type" } %>
        </div>
  <% else %>
        <div class="questionnaire-nom">
          <%= QuestionPool.where(user: current_user).first.nameq %>
        </div>
  <% end %>
        <p>Type de réponse souhaité:</p>
        <div class="check-input">
        <%= f.simple_fields_for :questions do |q_form| %>
        <div class="check-card-1 selected"><%= q_form.input :cat, label: 'Texte', :input_html => { class: "input-type" }, as: :boolean %></div>
        <div class="check-card-2"><%= q_form.input :cat, label: 'Note (1 à 5)', :input_html => { class: "input-type" }, as: :boolean %></div>
        </div>
        <%= q_form.input :name, label:'Question:', :input_html => { class: "input-type" } %>
        <% end %>
      </div>
      <div class="publier-div">
        <%= f.submit "Ajouter la question", class: "publier-questionnaire", remote: true %>
      </div>
  <% end %>
  </div>
  <div class="mes-questions">
    <h1 id="mes-question-en-cours" style="margin-bottom: 40px;">Vos questions en cours</h1>
  <% if QuestionPool.where(user: current_user).empty? %>
  <% else %>
    <% QuestionPool.where(user: current_user).last.questions.each do |question| %>

  <div class="une-question">
    <% @question = question %>
    <div class="questions"><p><%= question.name %></p></div>
    <% if question.cat == '0' %>
      <div class="type-of-input-1"><p></p></div>
    <% else %>
      <div class="type-of-input-2"><p></p></div>
    <% end %>


  <div class="delete-bin"><p><%= link_to '', manager_question_pool_path(question),
        method: :delete,
        class: "deleteajax far fa-trash-alt", remote:true %></p></div>
 </div>
  <% end %>
  <% end %>
  </div>

</div>
</div>
