<div class="main-container">
<div class="review">

  <% if QuestionPool.where(user: current_user).empty? %>
    <h1 class="title-page">Créez votre Questionnaire</h1>
    <br>
  <% else %>
    <% QuestionPool.where(user: current_user).last.questions.each do |question| %>
  <p class="questions">
    <% @question = question %>
    <%= question.name %>
    <% if question.cat == '0' %>
    (text)
    <% else %>
    (rating)
    <% end %>


  <%= link_to '', manager_question_pool_path(question),
        method: :delete,
        class: "deleteajax far fa-trash-alt", remote:true %>
  </p>
  <% end %>
  <% end %>

  <div><h1 class="title-page">Créez votre Questionnaire</h1></div>
  <% if QuestionPool.where(user: current_user).first.nameq.nil? %>
  <%= simple_form_for [:manager, @question_pool], html: { class: "form-review"} do |f| %>
      <div class="input-boxes">
        <div class="questionnaire-nom">
        <%= f.input :nameq, label:'Nom du Questionnaire:', :input_html => { class: "inputtype" } %>
        </div>
        <p>Type de réponse souhaité:</p>
        <div class="check-input">
        <%= f.simple_fields_for :questions do |q_form| %>
        <%= q_form.input :cat, label: 'Texte', :input_html => { class: "inputtype" }, as: :boolean %>
        <%= q_form.input :cat, label: 'Note (de 1 à 5)', :input_html => { class: "inputtype" }, as: :boolean %>
        </div>
        <%= q_form.input :name, label:'Question:', :input_html => { class: "inputtype" } %>
        <% end %>

        <h2><%= link_to "+ ajoutez une question", '',class: "newq" , remote: true %></h2>
      </div>
      <div class="publier-div">
        <%= f.submit "Publier", class: "publier-questionnaire", remote: true %>
      </div>
  <% end %>

  <% else %>

  <%= simple_form_for [:manager, @question_pool], html: { class: "form-review"} do |f| %>
      <div class="input-boxes">
        <div class="questionnaire-nom">
        <%= QuestionPool.where(user: current_user).first.nameq %>
        </div>
        <p>Type de réponse souhaité:</p>
        <div class="check-input">
        <%= f.simple_fields_for :questions do |q_form| %>
        <%= q_form.input :cat, label: 'Texte', :input_html => { class: "inputtype" }, as: :boolean %>
        <%= q_form.input :cat, label: 'Note', :input_html => { class: "inputtype" }, as: :boolean %>
        </div>
        <%= q_form.input :name, label:'Question:', :input_html => { class: "inputtype" } %>
        <% end %>

        <h2><%= link_to "+ ajoutez une question", '', class: "newq" , remote: true %></h2>
      </div>
      <div class="publier-div">
        <%= f.submit "Publier", class: "publier-questionnaire", remote: true %>
      </div>
  <% end %>

  <% end %>


</div>
</div>
