<div class="home-header" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://www.lyonresto.com/contenu/photo_restaurant/0_photo_automatique/victoire_et_thomas/03_Victoire-et-selection-Thomas-restaurant-bar-a-vin-gastronomie-Lyon.jpg)">
  <div class="home-title">
    <h1>The Honest Meal</h1>
    <h3>Ne laissez pas les faux commentaires ruiner votre repas</h3>
  </div>
  <div class="search-bar">
    <p>Entrez une ville ou un restaurant</p>
    <p>Entrez une catégorie</p>
    <h3>Search</h3>
  </div>
  <div class="cities">
    <div class="cards">
      <div class="city-cards" style="background-image: url(<%= cl_image_path '/assets/Lyon.jpg' %>)">
      <h2>Lyon</h2></div>
      <div class="city-cards" style="background-image: url(<%= cl_image_path '/assets/Rennes.jpg' %>)">
      <h2>Rennes</h2></div>
      <div class="city-cards" style="background-image: url(<%= cl_image_path '/assets/Toulouse.jpg' %>)">
      <h2>Toulouse</h2></div>
      <div class="city-cards" style="background-image: url(<%= cl_image_path '/assets/Paris.jpg' %>)">
      <h2>Paris</h2> </div>
      <div class="city-cards" style="background-image: url(<%= cl_image_path '/assets/Nantes.jpg' %>)">
      <h2>Nantes</h2></div>
      <div class="city-cards" style="background-image: url(<%= cl_image_path '/assets/Marseille.jpg' %>)">
      <h2>Marseille</h2></div>
      <div class="city-cards" style="background-image: url(<%= cl_image_path '/assets/Strasbourg.jpg' %>)">
      <h2>Strasbourg</h2></div>
      <div class="city-cards" style="background-image: url(<%= cl_image_path '/assets/Lille.jpg' %>)">
      <h2>Lille</h2></div>
      <div class="city-cards" style="background-image: url(<%= cl_image_path '/assets/Bordeaux.jpg' %>)">
      <h2>Bordeaux</h2></div>
    </div>
  </div>
</div>
<div class="main-container">
  <div class="block-text-image">
    <div class="text-main-page">
      <h1>Pourquoi nous faire confiance?</h1>
        <p>ouah ptn c ouf notre site c le meilleur ptn je comprend pas pk vous vnez pas dessus la tete de ma mere
         jvais coller des mandalle de forain si tu lis pas nos super reviews aller je fais copier-coller flemme
         de tout ecrire encore.
         ouah ptn c ouf notre site c le meilleur ptn je comprend pas pk vous vnez pas dessus la tete de ma mere
         jvais coller des mandalle de forain si tu lis pas nos super reviews aller je fais copier-coller flemme
         de tout ecrire encore.
         ouah ptn c ouf notre site c le meilleur ptn je comprend pas pk vous vnez pas dessus la tete de ma mere
         jvais coller des mandalle de forain si tu lis pas nos super reviews aller je fais copier-coller flemme
         de tout ecrire encore.
         ouah ptn c ouf notre site c le meilleur ptn je comprend pas pk vous vnez pas dessus la tete de ma mere
         jvais coller des mandalle de forain si tu lis pas nos super reviews aller je fais copier-coller flemme
         de tout ecrire encore.</p>
    </div>
    <div class="images-main-page">
      <p><img src="https://pngimage.net/wp-content/uploads/2018/05/confiance-png-3.png"></p>
      <p><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Twitter_Verified_Badge.svg/1024px-Twitter_Verified_Badge.svg.png"></p>
      <p><img src="https://www.repugen.com/Images/positive-review.png"></p>
    </div>
  </div>
</div>
