<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), remote: true) do |f| %>
  <div class="login-msg errors" id="sign-in-error"></div>

  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                label: 'Mot de passe',
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, label: 'Se souvenir de moi', as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions submit">
    <%= f.button :submit, "Se connecter", class: "btn-submit btn-flat" %>
  </div>
<% end %>
