<div class="custom-container">
  <div class="sign-title">
    <h2>Ajouter une nouvelle critique</h2>

    <div class="sign-up form-inputs">
      <%= simple_form_for [@review] do |f| %>
        <%= f.input :restaurant_id, as: :hidden %>
        <%= f.input :username, required: true unless user_signed_in? %>
        <%= f.input :content %>
        <%= f.input :rating %>
        <%= f.submit "Publier", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

</div>